@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    background: url("../../img/Fondo2.jpg");
    background-size: cover; 
    background-position: top center;  
  }

.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.version{
  font-size: 14px;
}

.form {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  width: 50%;
  margin: 0;
  padding: 40px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media (max-width: 1024px){
    .form {
        width: 70%;
    }
}
@media (max-width: 800px){
    .form {
        width: 85%;
    }
}
@media (max-width: 700px){
    .form {
        width: 95%;
    }
}

.form label{
    display: block;
    text-align: left;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: none;
  border: 0;
  padding: 12px 30px;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
  background-color: rgb(214, 214, 214);
  transition: background-color .3s ease;
}
.form button:hover {
  background-color: rgb(176, 176, 176);
}

.form .message {
  margin: 15px 0 0;
  color: #000;
}
.form .message a {
  color: #4dff00;
  text-decoration: none;
}
.form .recover-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}