body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

/* Navbar Styles */
.navbar {
    background: #e6b31b;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #ffffff;
    transition: color 0.3s ease; /* Smooth transition effect */
    position: relative;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f0f0f0; /* Navbar link text color on hover */
}

.navbar-nav .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Container Styles */
.container {
    flex: 1; /* Allow the container to grow and fill available space */
    background: #f7ee92;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

/* First Div with Buttons Styles */
.container .row:first-child {
    margin-bottom: 20px;
}

.container .btn-primary {
    margin-right: 10px;
    color: #ffffff; /* Button text color */
    background-color: #f70404; /* Updated color */
    border: none;
    width: 125x; /* Set a fixed width for the buttons */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}
.container .btn-secondary {
    margin-left: 30px;
    margin-right: 10px;
    color: #ffffff; /* Button text color */
    background-color: rgb(4, 247, 85); /* Updated color */
    border: none;
    width: 120px; /* Set a fixed width for the buttons */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}


/* Second Div with Table Styles */
.container .row:nth-child(2) {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #0c0c0c; /* Lighter orange border color */
    padding: 10px;
    text-align: left;
    font-size: 20px; 

}

.table th {
    background: linear-gradient(to right, #ff8c69, #ff6b43); /* Gradient background */
    color: #ffffff; /* Text color in the table header */
}

/* Third Div with Space for Graph Styles */
.container .row:last-child {
    margin-bottom: 20px;
}

/* Footer Styles */
.footer {
    background: #e6b31b; /* Updated color */
    color: #ffffff; /* Footer text color */
    padding: 10px 0;
    margin-top: auto; 
}

.galeria {
    overflow: hidden;
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 80px; 
}

img:first-child {
    display: block;
}

button {
    margin-top: 10px;
    background-color: #aa8c2a;
    color: rgb(241, 232, 232);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    

    
}

.contadores{
    font-size: 24px;
    margin-left: 60px;  
    margin-right:20px;
    text-align: center;
       
}


.agregar{
    margin-left: 140px;  
}

#botona {
    background-color: rgb(223, 139, 14);
}

#contador, #contador2, #contador3 {
    background-color: #ffffff; /* Establece el color de fondo del contenedor */
    padding: 5px; /* Añade un relleno al contenedor para mayor espacio */
    text-align: center; /* Centra el contenido del contenedor */
    border-radius: 5px;
}

.titulo{
    text-align: center; 
    background-color: #e4b312;
    color: rgb(241, 232, 232);
    font-size: 35px;    
    padding: 10px;
    border-radius: 10px;
}
.tabla-container {
    max-height: 600px; /* ajusta este valor según tus necesidades */
    overflow-y: auto; /* agrega una barra de desplazamiento vertical si es necesario */
    border: 1px solid #ddd; /* opcional: bordes para separar visualmente la tabla */
}
#tablaVentas{
    max-height: 600px; /* ajusta este valor según tus necesidades */
    overflow-y: auto; /* agrega una barra de desplazamiento vertical si es necesario */
    border: 1px solid #ddd; /* opcional: bordes para separar visualmente la tabla */    
}